@font-face {
    font-family: "Open Sans";
    src: url(../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}


html {
    scroll-behavior: smooth;
}

.body {
    margin: 0;
    font-family: Poppins, sans-serif;
}

.wrapper {
    display: flex;
    border: solid  red;
}

.aside {
    width: 40%;
    background-color: #272B2F;
}

.main {
    width: 60%;
}

.aside-container {
    padding: 0 30px;
}

.aside .header {
    padding-top: 20px;
}

.aside .header .header-content {
    text-align: center;
}

.aside .header .header-content .profile-photo {
    width: 95%;
    border-radius: 2%;
}

.aside .header .header-content .header-title {
    font-family: "Open Sans", sans-serif;
    color: #fff;
    font-size: 26px;
    margin: 10px 0 15px;
    text-align: left;
}

.aside .header .header-content .header-specialization {
    font-weight: 700;
    font-size: 18px;
    color: #FEBC2C;
    margin: 0 0 15px;
    padding: 0 10px;
    text-align: left;
}

.aside .header .header-content {
    border-bottom: solid 2px rgba(255, 255, 255, 0.18);
}

.about-me {
    border: solid orange;
    padding: 20px 0 0;
}

.about-me .about-me-content .about-me-content-title,
.footer .contacts .contacts-title,
.footer .social-media .social-media-title
{
    margin: 0 0 10px;
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
}

.about-me .about-me-content .about-me-content-text {
    margin: 0;
    font-size: 10px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
}

.footer {
    border: solid yellow;
}

.contacts, .social-media {
    border: solid aqua;
    padding: 35px 0 0;
}

.aside-container {
    border: solid white;
}

.contacts {
    border: solid purple;
}

.contacts .contacts-list,
.social-media .social-media-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.contacts .contacts-list .contacts-address,
.social-media .social-media-list .social-media-address{
    font-style: normal;
}

.contacts .contacts-list .contacts-address .contacts-link,
.social-media .social-media-list .social-media-address .social-media-link{
    text-decoration: none;
    color: #ffffff;
    font-size: 10px;
    display: flex;
    align-items: center;
    transition: 0.3s 0.02s linear;
}

.contacts .contacts-list .contacts-address .contacts-link .contacts-icon,
.social-media .social-media-list .social-media-address .social-media-link .social-media-icon{
    padding: 5px;
    background-color: #FC413C;
    margin-right: 8px;
    border-radius: 5%;
}

.social-media .social-media-list .social-media-address .social-media-link .facebook {
    padding: 7px 9.5px;
}

.social-media .social-media-list .social-media-address .social-media-link .linkedin,
.social-media .social-media-list .social-media-address .social-media-link .telegram
{
    width: 15px;
}

.contacts .contacts-list .contacts-list-item,
.social-media .social-media-list .social-media-list-item{
    margin-bottom: 5px;
    transition: 0.3s 0.2s linear;

}

.contacts .contacts-list .contacts-list-item:last-of-type,
.social-media .social-media-list .social-media-list-item:last-of-type{
    margin-bottom: 0;
}

.contacts-list-item:hover,
.social-media-list-item:hover{
    background-color: #FC413C;
}

.contacts-link:hover,
.social-media-link:hover
{
    letter-spacing: 1px;
    font-weight: 700;
}

.main {
    border: solid blue;
}

.skills {
    border: solid brown;
    padding: 20px 0 0;
}

.main-container {
    padding: 0 20px 0 25px;
}

.skills-title-holder {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    background-color: #FEBC2C;
    border-radius: 8px;
}

.skills-title {
    text-transform: capitalize;
    font-size: 20px;
    font-weight: 500;
    margin: 0;
}

.skills-ability-cards-holder {
padding: 10px 0 0;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.skills-ability-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 5%;
}

.skills-technology {
    font-weight: 700;
    font-size: 15px;
    margin: 0;
    width: 10%;
}

.skills-ability-percentage {
    font-weight: 400;
    font-size: 15px;
    margin: 0;
    font-family: Roboto, sans-serif;
}

.skills-technology-knowledge-outer {
    height: 10px;
    background-color: #FEBC2C;
    width: 70%;
    border-radius: 10px;
}

.skills-technology-knowledge-inner {
    height: 10px;
    background-color: #272B2F;

    border-radius: 10px;
}

.html, .css, .scum {
    width: 85%;
}

.javascript, .react {
    width: 70%;
}

.git {
    width: 75%;
}

.teamwork{
    width: 90%;
}












