@font-face {
    font-family: "Open Sans";
    src: url(../assets/fonts/OpenSans-VariableFont_wdth,wght.ttf);
}

@font-face {
    font-family: "Roboto";
    src: url(../assets/fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Poppins";
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

html {
    scroll-behavior: smooth;
}

.body {
    margin: 0;
    font-family: Poppins sans-serif;
}

.wrapper {
    display: flex;
    border: solid  red;
}

.aside {
    width: 35%;
    background-color: #1E1E1E;
}

.main {
    width: 65%;
}

.aside-container {
    padding: 0 35px;
    border: solid gold;
}


